/*======================================
    Variables
========================================*/
/*======================================
    Normalize CSS
========================================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #727272;
  overflow-x: hidden;
  font-size: 15px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
}

* {
  margin: 0;
  padding: 0;
}

.navbar-toggler:focus,
a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
  outline: none !important;
  border-color: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #fd0d0d;
  border-color: #fd0d0d;
}

select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #27314F;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
     -moz-appearance: menulist;
          appearance: menulist;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(white, #3b3b3b);
  cursor: default;
  margin: 0em;
  font: 400 14px;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(#767676, #858585);
  -o-border-image: initial;
     border-image: initial;
}

span,
a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0px;
  color: #27314F;
  font-family: 'Poppins', sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

.bg-gray {
  background-color: #F4F7FA !important;
}

/* Bread Crumbs */
.breadcrumbs {
  position: relative;
  padding-top: 160px;
  padding-bottom: 120px;
  z-index: 2;
  text-align: left;
  background-color: #27314F;
  background-image: url("../images/footer/footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.075);
}

.breadcrumbs.custom-padding {
  padding-bottom: 250px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcrumbs.custom-padding {
    padding-bottom: 200px;
  }
}

@media (max-width: 767px) {
  .breadcrumbs.custom-padding {
    padding-bottom: 180px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcrumbs {
    padding-top: 110px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .breadcrumbs {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.breadcrumbs .breadcrumbs-content {
  position: relative;
  text-align: center;
}

.breadcrumbs .breadcrumbs-content .page-title {
  font-size: 28px;
  color: #fff;
  font-weight: 700;
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcrumbs .breadcrumbs-content .page-title {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  .breadcrumbs .breadcrumbs-content .page-title {
    font-size: 22px;
    text-align: center;
    line-height: 26px;
  }
}

.breadcrumbs .breadcrumbs-content .breadcrumb-nav {
  display: inline-block;
  margin-top: 10px;
  background: #ffffff24;
  padding: 13px 30px;
  border-radius: 5px;
  margin-top: 20px;
}

.breadcrumbs .breadcrumb-nav {
  text-align: right;
}

@media (max-width: 767px) {
  .breadcrumbs .breadcrumb-nav {
    text-align: center;
    margin-top: 15px;
  }
}

.breadcrumbs .breadcrumb-nav li {
  display: inline-block;
  position: relative;
  padding-right: 14px;
  margin-right: 14px;
  text-transform: capitalize;
  color: #fff;
}

.breadcrumbs .breadcrumb-nav li:after {
  content: "\ea14";
  font-family: lineIcons;
  font-size: 10px;
  position: absolute;
  top: 4px;
  right: -7px;
}

.breadcrumbs .breadcrumb-nav li:last-child {
  margin: 0;
  padding: 0;
}

.breadcrumbs .breadcrumb-nav li:last-child::after {
  display: none;
}

.breadcrumbs .breadcrumb-nav li,
.breadcrumbs .breadcrumb-nav li a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.breadcrumbs .breadcrumb-nav li i,
.breadcrumbs .breadcrumb-nav li a i {
  font-size: 13px;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: -1px;
}

.breadcrumbs .breadcrumb-nav li a {
  position: relative;
}

.breadcrumbs .breadcrumb-nav li a:hover {
  color: #e4e4e4;
}

.section {
  padding-top: 110px;
  padding-bottom: 110px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* Section Title */
.section-title {
  text-align: center;
  margin-bottom: 80px;
  padding: 0 310px;
  position: relative;
  z-index: 5;
}

.section-title h3 {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 15px;
  color: #800e0e;
  text-transform: capitalize;
}

.section-title h2 {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 45px;
  text-transform: capitalize;
  position: relative;
  font-weight: 700;
}

.section-title p {
  font-size: 16px;
  line-height: 28px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title {
    padding: 0px 200px;
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title {
    padding: 0px 20px;
    margin-bottom: 50px;
  }
  .section-title h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  .section-title h2 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 12px;
  }
  .section-title p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .section-title {
    padding: 0px 10px;
    margin-bottom: 40px;
  }
  .section-title h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  .section-title h2 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .section-title p {
    font-size: 15px;
  }
}

.section-title.align-right {
  padding: 0;
  padding-left: 600px;
}

.section-title.align-right h2:before {
  display: none;
}

.section-title.align-right h2:after {
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 2px;
  width: 50px;
  background: #0069ff;
  content: "";
}

.section-title.align-left {
  padding: 0;
  padding-right: 600px;
}

.section-title.align-left h2:before {
  left: 0;
  margin-left: 0;
}

/* One Click Scrool Top Button*/
.scroll-top {
  width: 48px;
  height: 48px;
  line-height: 48px;
  background: #27314F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  color: #fff !important;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  border-radius: 50%;
}

.scroll-top:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  background-color: #0069ff;
}

/* Overlay */
.overlay {
  position: relative;
  z-index: 1;
}

.overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: #27314F;
  content: "";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: -1;
}

/* Pagination CSS */
.pagination {
  text-align: left;
  margin: 60px 0 0 0;
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pagination {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .pagination {
    margin-top: 40px;
  }
}

.pagination.center {
  text-align: center;
}

.pagination.right {
  text-align: right;
}

.pagination.left {
  text-align: left;
}

.pagination .pagination-list {
  display: inline-block;
  overflow: hidden;
}

.pagination .pagination-list li {
  margin-right: 5px;
  display: inline-block;
  margin-top: 10px;
}

.pagination .pagination-list li:last-child {
  margin-right: 0px;
}

.pagination .pagination-list li a {
  background: #fff;
  color: #081828;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  padding: 8px 20px;
  text-align: center;
  border: 1px solid #eee;
}

.pagination .pagination-list li.active a,
.pagination .pagination-list li:hover a {
  background: #0069ff;
  color: #fff;
  border-color: transparent;
}

.pagination .pagination-list li a i {
  font-size: 13px;
}

.blog-grids.pagination {
  margin-top: 50px;
  text-align: center;
}

.button .btn {
  display: inline-block;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  padding: 14px 30px;
  background-color: #9e0c0cd6;
  color: #fff;
  border: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  margin-right: 7px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .button .btn {
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .button .btn {
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 500;
  }
}

.button .btn i {
  display: inline-block;
  margin-right: 5px;
}

.button .btn:last-child {
  margin: 0;
}

.button .btn:hover {
  color: #fff;
  background-color: #27314F;
}

.button {
  margin-left: 0 !important;
}

.button .btn-alt {
  background-color: #27314F !important;
  color: #fff !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .button .btn-alt {
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .button .btn-alt {
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 500;
  }
}

.button .btn-alt:hover {
  background-color: #0069ff !important;
  color: #fff !important;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0px;
}

.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #0069ff;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}

.preloader-icon span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

/*======================================
	01. Start Header CSS
========================================*/
.header {
  width: 100%;
  background: transparent;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    padding: 18px 0 !important;
  }
  .header .mobile-menu-btn .toggler-icon {
    background-color: #fff;
  }
  .header .button {
    margin: 0 !important;
  }
  .header .navbar-collapse {
    position: absolute;
    top: 67px !important;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    max-height: 350px;
    overflow-y: scroll;
    border-top: 1px solid #eee;
    border-radius: 8px;
  }
  .header .navbar .navbar-nav .nav-item a:hover {
    color: #0069ff !important;
  }
  .header .navbar .navbar-nav .nav-item a.active {
    color: #0069ff !important;
  }
  .header .navbar-nav .nav-item {
    margin: 0;
  }
  .header .navbar-nav .nav-item:hover a {
    color: #0069ff;
  }
  .header .navbar-nav .nav-item a {
    padding: 12px 16px !important;
  }
  .header .navbar-nav .nav-item a::before {
    display: none;
  }
  .header .navbar-nav .nav-item .sub-menu {
    position: static;
    width: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
  }
  .header .navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 12px 12px;
  }
  .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
    color: #0069ff !important;
  }
  .header .navbar-nav .nav-item a {
    color: #051441;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
  }
  .header .navbar-nav .nav-item a::after {
    opacity: 1;
    visibility: visible;
  }
  .header .navbar-nav .nav-item .sub-menu li.active {
    background: #fff !important;
    color: #0069ff !important;
  }
  .header .navbar-nav .nav-item .sub-menu .nav-item {
    margin: 0 !important;
  }
  .header .navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 10px 12px !important;
  }
  .header .navbar-nav .nav-item .sub-menu li:hover {
    background: #fff !important;
    color: #0069ff !important;
  }
  .header .navbar-nav .nav-item a {
    font-size: 14px;
  }
  .header .navbar-nav .nav-item a:hover {
    color: #0069ff;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 18px 0 !important;
  }
  .header .mobile-menu-btn .toggler-icon {
    background-color: #fff;
  }
  .header .navbar-collapse {
    position: absolute;
    top: 62px !important;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    max-height: 350px;
    overflow-y: scroll;
    border-top: 1px solid #eee;
    border-radius: 8px;
  }
  .header .navbar .navbar-nav .nav-item a:hover {
    color: #0069ff !important;
  }
  .header .navbar .navbar-nav .nav-item a.active {
    color: #0069ff !important;
  }
  .header .navbar-nav .nav-item {
    margin: 0;
  }
  .header .navbar-nav .nav-item:hover a {
    color: #0069ff;
  }
  .header .navbar-nav .nav-item a {
    padding: 12px 16px !important;
  }
  .header .navbar-nav .nav-item a::before {
    display: none;
  }
  .header .navbar-nav .nav-item .sub-menu {
    position: static;
    width: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
  }
  .header .navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 12px 12px;
  }
  .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
    color: #0069ff !important;
  }
  .header .navbar-nav .nav-item a {
    color: #051441;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
  }
  .header .navbar-nav .nav-item a::after {
    opacity: 1;
    visibility: visible;
  }
  .header .navbar-nav .nav-item .sub-menu li.active {
    background: #fff !important;
    color: #0069ff !important;
  }
  .header .navbar-nav .nav-item .sub-menu .nav-item {
    margin: 0 !important;
  }
  .header .navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 10px 12px !important;
  }
  .header .navbar-nav .nav-item .sub-menu li:hover {
    background: #fff !important;
    color: #0069ff !important;
  }
  .header .navbar-nav .nav-item a {
    font-size: 14px;
  }
  .header .navbar-nav .nav-item a:hover {
    color: #0069ff;
  }
}

.header .navbar-brand img {
  width: 190px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header .navbar-brand img {
    width: 190px;
  }
}

@media (max-width: 767px) {
  .header .navbar-brand img {
    width: 180px;
  }
}

.header.sticky .button .btn {
  background-color: #9d0e0ec1;
  color: #fff;
}

.header.sticky .button .btn:hover {
  background-color: #27314F;
  color: #fff;
}

.sticky {
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  top: 0;
  background-color: #fff;
}

.navbar-expand-lg .navbar-nav {
  margin: 0;
  margin-left: auto !important;
  margin-right: auto !important;
}

.header .navbar .navbar-nav .nav-item a.active {
  color: #fff;
}

.sticky .navbar .navbar-nav .nav-item a.active {
  color: #810808;
}

.sticky .navbar .navbar-nav .nav-item a {
  color: #27314F;
}

.header .navbar .navbar-nav .nav-item .sub-menu a.active {
  color: #fff;
}

.sticky .navbar .navbar-nav .nav-item .sub-menu a.active {
  color: #fff;
}

.sticky .navbar .mobile-menu-btn .toggler-icon {
  background: #333;
}

/*===== NAVBAR =====*/
.navbar-area {
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 0;
}

.navbar-area.sticky {
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 0px 0;
}

.navbar {
  padding: 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-brand {
  padding-left: 0;
  border-radius: 0;
}

.mobile-menu-btn {
  padding: 0px;
}

.mobile-menu-btn:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mobile-menu-btn .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #222;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 7px;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: -7px;
}

.navbar-nav .nav-item {
  z-index: 1;
  position: relative;
  margin-right: 40px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0 !important;
}

.navbar-nav .nav-item:hover a {
  color: #fff;
}

.sticky .navbar-nav .nav-item:hover a {
  color: #0069ff;
}

.navbar-nav .nav-item a {
  font-size: 15px;
  color: #ffffffa1;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
  padding: 35px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  transition: all 0.3s ease-out 0s;
  position: relative;
  text-transform: capitalize;
}

.navbar-nav .nav-item:hover a:before {
  width: 100%;
}

.navbar-nav .nav-item a.active {
  color: #fff;
}

.navbar-nav .nav-item a.dd-menu::after {
  content: "\ea5e";
  font: normal normal normal 1em/1 "LineIcons";
  font-size: 1em;
  position: absolute;
  right: -18px;
  font-size: 11px;
  top: 50%;
  margin-left: 5px;
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  height: 10px;
}

.navbar-nav .nav-item:hover a.dd-menu::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item a.dd-menu::after {
    right: 13px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-nav .nav-item a.dd-menu::after {
    top: 18px;
    right: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-nav .nav-item a.collapsed::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.navbar-nav .nav-item:hover > .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.navbar-nav .nav-item:hover > .sub-menu .sub-menu {
  left: 100%;
  top: 0;
}

.navbar-nav .nav-item .sub-menu {
  padding: 30px;
  min-width: 240px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 20px #0000001a;
          box-shadow: 0px 5px 20px #0000001a;
  position: absolute;
  top: 110% !important;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-radius: 0 0 4px 4px;
  border-radius: 5px;
}

.navbar-nav .nav-item:hover .sub-menu {
  top: 100% !important;
}

.navbar-nav .nav-item .sub-menu .nav-item {
  width: 100%;
  margin-bottom: 15px;
}

.navbar-nav .nav-item .sub-menu .nav-item:last-child {
  margin: 0;
}

.navbar-nav .nav-item .sub-menu .nav-item a {
  padding: 0;
  color: #888;
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.navbar-nav .nav-item .sub-menu .nav-item a:hover {
  color: #0069ff;
}

.navbar-nav .nav-item .sub-menu.left-menu {
  left: -100%;
}

.navbar-nav .nav-item .sub-menu.collapse:not(.show) {
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
    display: none;
  }
}

.navbar-nav .nav-item .sub-menu > li {
  display: block;
  margin-left: 0;
}

.navbar-nav .nav-item .sub-menu > li:last-child {
  border: none;
}

.navbar-nav .nav-item .sub-menu > li.active > a {
  color: #0069ff !important;
}

.navbar-nav .nav-item .sub-menu > li > a {
  font-weight: 400;
  display: block;
  padding: 12px 15px;
  font-size: 14px;
  color: #222;
  font-weight: 400;
}

.navbar-nav .nav-item .sub-menu > li:first-child a {
  border: none;
}

.header .button {
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .header .button {
    display: none;
  }
}

.header .button .btn {
  background-color: #fff;
  color: #27314F;
  font-weight: 500;
}

.header .button .btn:hover {
  color: #27314F;
  background-color: #e9e9e9;
}

.sticky .button .btn {
  background-color: #0069ff;
  color: #fff;
}

.sticky .button .btn:hover {
  background-color: #0069ff;
  color: #fff;
}

/*======================================
     End Header CSS
  ========================================*/
/*======================================
    Hero Area CSS
========================================*/
.hero-area {
  position: relative;
  background-color: #27314F;
  padding: 280px 0 260px 0;
  z-index: 0;
  background-color: #0069ff;
  background-image: url("../images/hero/bg-hosting.png");
  background-size: cover;
  background-position: center;
}

.hero-area .hero-shape {
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: -1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area {
    padding: 130px 0 180px 0;
  }
}

@media (max-width: 767px) {
  .hero-area {
    padding: 110px 0 150px 0;
  }
}

.hero-area .hero-content {
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 0px 150px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content {
    padding: 0px 140px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-content {
    padding: 0 10px;
    text-align: center;
  }
}

.hero-area .hero-content h4 {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.178);
  padding: 12px 16px;
  border-radius: 5px;
  display: inline-block;
}

.hero-area .hero-content h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  color: #fff;
  text-transform: capitalize;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-content h1 {
    font-size: 22px;
    line-height: 32px;
  }
}

.hero-area .hero-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-content p {
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
  }
}

.hero-area .hero-content h5 {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
}

.hero-area .hero-content .button {
  margin-top: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content .button {
    margin-top: 30px !important;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-content .button {
    margin-top: 30px;
    width: 100%;
  }
}

.hero-area .hero-content .button a {
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  background-color: #fff;
  color: #0069ff;
  border-radius: 50%;
  font-size: 22px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero-area .hero-content .button a:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

@media (max-width: 767px) {
  .hero-area .hero-content .button .btn {
    width: 60%;
    margin: 0;
    margin-bottom: 8px;
  }
  .hero-area .hero-content .button .btn:last-child {
    margin: 0;
  }
}

.hero-area .hero-image {
  text-align: right;
  position: relative;
  z-index: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .hero-area .hero-image {
    display: none;
  }
}

.hero-area .hero-image .main-image {
  width: 90%;
}

/*======================================
    Domain Search CSS
========================================*/
.domain-search {
  background-color: #fff;
}

.domain-search .inner-cotainer {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 75px 80px;
  text-align: center;
  position: relative;
  margin-top: -120px;
  z-index: 5;
  -webkit-box-shadow: 0px 10px 30px #0000000f;
          box-shadow: 0px 10px 30px #0000000f;
  overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .domain-search .inner-cotainer {
    padding: 60px 60px;
  }
}

@media (max-width: 767px) {
  .domain-search .inner-cotainer {
    padding: 35px 20px;
  }
}

.domain-search .inner-cotainer .sahpe {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  right: -40px;
  top: -40px;
  z-index: -1;
}

@media (max-width: 767px) {
  .domain-search .inner-cotainer .sahpe {
    height: 70px;
    width: 70px;
    right: -35px;
    top: -35px;
  }
}

.domain-search .inner-cotainer .sahpe2 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  left: -40px;
  bottom: -40px;
  z-index: -1;
}

@media (max-width: 767px) {
  .domain-search .inner-cotainer .sahpe2 {
    height: 70px;
    width: 70px;
    left: -35px;
    bottom: -35px;
  }
}

.domain-search .content h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .domain-search .content h2 {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .domain-search .content h2 {
    font-size: 18px;
  }
}

.domain-search .content h2 span {
  color: #838383;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
  .domain-search .content p {
    padding: 0px 20px;
  }
}

.domain-search .content .extention-list {
  display: block;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .domain-search .content .extention-list {
    margin-top: 20px;
  }
}

.domain-search .content .extention-list li {
  display: inline-block;
  margin-right: 12px;
}

@media (max-width: 767px) {
  .domain-search .content .extention-list li {
    margin-bottom: 12px;
  }
  .domain-search .content .extention-list li:last-child {
    margin: 0;
  }
}

.domain-search .content .extention-list li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.domain-search .content .extention-list li a {
  color: #27314F;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.075);
  padding: 20px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #fff;
  border-bottom: 3px solid transparent;
}

@media (max-width: 767px) {
  .domain-search .content .extention-list li a {
    font-size: 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    padding: 0;
  }
  .domain-search .content .extention-list li a span {
    margin: 0;
  }
  .domain-search .content .extention-list li a:hover {
    color: #0069ff;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
}

.domain-search .content .extention-list li a:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.11);
  border-bottom-color: #0069ff;
}

.domain-search .content .extention-list li a span {
  display: block;
  margin-left: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #999;
  margin-top: 4px;
}

@media (max-width: 767px) {
  .domain-search .content .extention-list li a span {
    margin: 0;
  }
}

/* Search Form */
.search-form {
  margin-top: 40px;
  -webkit-box-shadow: 0px 10px 30px #0000000f;
          box-shadow: 0px 10px 30px #0000000f;
  border-radius: 5px;
  padding: 20px;
}

@media (max-width: 767px) {
  .search-form {
    padding: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .search-form {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .search-form {
    margin-top: 20px;
  }
}

.search-form .search-input {
  position: relative;
}

@media (max-width: 767px) {
  .search-form .search-input {
    margin-bottom: 15px;
  }
}

.search-form .search-input input {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  border: none;
  padding: 0 25px;
  height: 55px;
  font-size: 15px;
  border: 1px solid #eee;
}

.search-form .search-input input:focus {
  outline: none !important;
}

.search-form .search-input label {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 13px;
}

.search-form .search-input select {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 0 25px;
  height: 55px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 15px;
}

.search-form .search-input select:focus {
  outline: none !important;
}

.search-form button {
  width: 100%;
  border: none;
  padding: 0 25px;
  height: 55px;
  border-radius: 4px !important;
}

.search-form button.btn:hover {
  background: #27314F;
  color: #fff;
}

.search-form button i {
  display: inline-block;
  margin-right: 5px;
}

/*======================================
    Why Choose Area CSS
========================================*/
.features {
  background-color: #fff;
  padding-top: 120px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .features .responsive-space {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .features {
    padding-top: 80px;
  }
}

@media (max-width: 767px) {
  .features {
    padding-top: 60px;
  }
}

.features .section-title {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .features .section-title {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .features .section-title {
    margin-bottom: 30px;
  }
}

.features.style2 .single-feature {
  padding: 40px 35px;
}

.features.style2 .single-feature .list-icon {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  margin-bottom: 25px;
}

.features.style3 .section-title {
  margin: 0;
}

.features.style3 .single-item {
  margin-top: 100px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .features.style3 .single-item {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .features.style3 .single-item {
    margin-top: 50px;
  }
}

.features.style3 .content {
  padding: 0;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
  .features.style3 .content.pl {
    padding-left: 60px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
  .features.style3 .content.pr {
    padding-right: 60px;
  }
}

.features.style3 .content h5 {
  color: #0069ff;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
}

.features.style3 .content h3 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
  text-transform: capitalize;
  position: relative;
  font-weight: 700;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .features.style3 .content h3 {
    font-size: 26px;
    line-height: 35px;
  }
}

@media (max-width: 767px) {
  .features.style3 .content h3 {
    font-size: 22px;
    line-height: 30px;
  }
}

.features.style3 .content p {
  margin-bottom: 20px;
}

.features.style3 .content p:last-child {
  margin: 0;
}

.features.style3 .image {
  padding: 50px;
  background-color: #F4F7FA;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .features.style3 .image {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .features.style3 .image {
    padding: 20px;
  }
}

.features.style3 .image img {
  width: 100%;
}

.features .shape {
  position: absolute;
  left: -76px;
  bottom: -74px;
  height: 150px;
  width: 150px;
  z-index: 5;
  opacity: 0.6;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .features .shape {
    height: 120px;
    width: 120px;
    left: -60px;
    bottom: -60px;
  }
}

@media (max-width: 767px) {
  .features .shape {
    height: 100px;
    width: 100px;
    left: -50px;
    bottom: -50px;
  }
}

.features .explore-all {
  margin-top: 80px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .features .explore-all {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .features .explore-all {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
  .features .content {
    padding-right: 90px;
  }
}

.features .content h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  color: #27314F;
  margin-bottom: 30px;
}

.features .content h2 span {
  color: #0069ff;
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.features .content p {
  margin-bottom: 20px;
}

.features .content p:last-child {
  margin: 0;
}

.features .content .button {
  margin-top: 40px;
}

.features .single-feature {
  margin-top: 30px;
  padding: 50px 40px;
  padding-right: 60px;
  border-radius: 8px;
  text-align: left;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-left: 130px;
  border: 1px solid #eeeeee80;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .features .single-feature {
    padding: 40px 35px;
  }
}

.features .single-feature:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.096);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.096);
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.features .single-feature .list-icon {
  height: 65px;
  width: 65px;
  text-align: center;
  line-height: 65px;
  display: inline-block;
  background-color: #ff000036;
  color: #950e0ec7;
  font-size: 26px;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  left: 40px;
  top: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .features .single-feature .list-icon {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    margin-bottom: 25px;
  }
}

.features .single-feature h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.features .single-feature p {
  margin-top: 15px;
}

/*======================================
	Pricing CSS
========================================*/
.pricing {
  background-color: #F6FBFF;
}

.pricing .nav {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px 13px !important;
  border-radius: 40px !important;
}

.pricing .pricing-tabs {
  margin-bottom: 40px !important;
  text-align: center;
}

@media (max-width: 767px) {
  .pricing .pricing-tabs {
    margin-bottom: 20px !important;
  }
}

.pricing .nav-pills .nav-link {
  color: #27314F;
  border-radius: 30px !important;
  padding: 10px 25px !important;
}

.pricing .nav-pills .nav-link:hover {
  color: #0069ff;
}

.pricing .nav-pills .nav-link.active {
  background: #0069ff;
  color: #fff;
}

.pricing .nav-pills .nav-link.active .badge {
  background-color: #fff !important;
  color: #0069ff !important;
}

.pricing .section-title {
  margin-bottom: 60px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pricing .section-title {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .pricing .section-title {
    margin-bottom: 30px;
  }
}

.pricing .single-pricing {
  padding: 45px 40px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.068);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.068);
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  z-index: 2;
}

.pricing .single-pricing .badge {
  position: absolute;
  left: -50px;
  top: 22px;
  background-color: #0069ff;
  color: #fff;
  padding: 6px 50px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pricing .single-pricing .sahpe {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  right: -46px;
  top: -46px;
  z-index: -1;
}

.pricing .single-pricing .sahpe2 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  left: -46px;
  bottom: -46px;
  z-index: -1;
}

.pricing .single-pricing:hover {
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.116);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.116);
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.pricing .single-pricing .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 25px;
}

.pricing .single-pricing .start-at {
  display: block;
  margin-bottom: 6px;
}

.pricing .single-pricing .price {
  color: #0069ff;
  font-size: 38px;
  font-weight: 600;
  font-family: DM Sans;
}

.pricing .single-pricing .price .sent {
  font-size: 26px;
}

.pricing .single-pricing .price .duration {
  font-size: 14px;
  font-weight: 400;
  color: #727272;
}

.pricing .single-pricing .old-price {
  color: #727272;
  text-decoration: line-through;
  display: block;
  margin-top: 5px;
}

.pricing .single-pricing .save-price {
  font-size: 15px;
  font-weight: 500;
  color: #27314F;
  display: block;
  margin-top: 10px;
}

.pricing .single-pricing .button {
  margin-top: 30px;
}

.pricing .single-pricing .button .btn {
  background-color: #fff;
  border: 2px solid #eee;
  color: #27314F;
  padding: 12px 30px;
  font-size: 14px;
}

.pricing .single-pricing .button .btn:hover {
  color: #fff;
  background-color: #0069ff;
  border-color: transparent;
}

.pricing .single-pricing .item-list {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #eee;
}

.pricing .single-pricing .item-list li {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #27314F;
}

.pricing .single-pricing .item-list li:last-child {
  margin: 0;
}

/* Pricing Sryle 2 */
.pricing-style2 .section-title {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pricing-style2 .section-title {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .pricing-style2 .section-title {
    margin-bottom: 30px;
  }
}

.pricing-style2 .single-pricing {
  margin-top: 30px;
  padding: 45px 40px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.068);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.068);
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.pricing-style2 .single-pricing:hover {
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.116);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.116);
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.pricing-style2 .single-pricing .p-icon {
  height: 70px;
  width: 70px;
  text-align: center;
  display: block;
  border-radius: 7px;
  background: #ff000052;
  line-height: 90px;
}

.pricing-style2 .single-pricing .p-icon i {
  color: #9e1414c7;
  font-size: 30px;
}

.pricing-style2 .single-pricing .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 25px;
}

.pricing-style2 .single-pricing .des {
  margin-bottom: 25px;
}

.pricing-style2 .single-pricing .start-at {
  display: block;
  margin-bottom: 6px;
}

.pricing-style2 .single-pricing .price {
  color: #27314F;
  font-size: 38px;
  font-weight: 600;
  font-family: DM Sans;
}

.pricing-style2 .single-pricing .price .sent {
  font-size: 26px;
}

.pricing-style2 .single-pricing .price .duration {
  font-size: 14px;
  font-weight: 400;
  color: #727272;
}

.pricing-style2 .single-pricing .button {
  margin-top: 30px;
}

.pricing-style2 .single-pricing .button .btn {
  background-color: #fff;
  border: 2px solid #eee;
  color: #27314F;
  padding: 12px 30px;
  font-size: 14px;
}

.pricing-style2 .single-pricing .button .btn:hover {
  color: #fff;
  background-color: #0069ff;
  border-color: transparent;
}

/*======================================
    Call To Action CSS
========================================*/
.call-action {
  background-color: #fff;
}

.call-action .inner-content {
  position: relative;
  padding: 80px 0;
  border-radius: 10px;
  z-index: 0;
  overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .call-action .inner-content {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .call-action .inner-content {
    padding: 50px 0;
    text-align: center;
  }
}

.call-action .inner-content .bg-shape {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.call-action .text h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #081828;
}

.call-action .text h2 span {
  color: #be1818bc;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .call-action .text h2 {
    font-size: 25px;
    line-height: 38px;
  }
}

@media (max-width: 767px) {
  .call-action .text h2 {
    font-size: 22px;
    line-height: 32px;
  }
}

.call-action .text h2 span {
  display: block;
  color: #f11616c0;
}

.call-action .button {
  float: right;
}

@media (max-width: 767px) {
  .call-action .button {
    float: none;
    margin-top: 30px;
  }
}

/*======================================
	Footer CSS
========================================*/
.footer {
  position: relative;
  padding-bottom: 0;
  background-image: url("../images/footer/footer-bg.png");
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .single-footer {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer .single-footer {
    margin-top: 40px;
    text-align: center;
  }
}

.footer .single-footer.f-about {
  padding-right: 30px;
}

@media (max-width: 767px) {
  .footer .single-footer.f-about {
    padding: 0;
  }
}

.footer .single-footer.f-about .logo {
  margin-bottom: 20px;
}

.footer .single-footer.f-about .logo img {
  width: 200px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .single-footer.f-about .logo img {
    width: 190px;
  }
}

@media (max-width: 767px) {
  .footer .single-footer.f-about .logo img {
    width: 180px;
  }
}

.footer .single-footer.f-about p {
  color: #fff;
  margin-top: 20px;
  font-size: 15px;
  line-height: 24px;
}

.footer .single-footer.f-about .call {
  color: #fff;
  font-weight: 500;
  margin-top: 15px;
}

.footer .single-footer.f-about .call i {
  font-size: 18px;
  display: inline-block;
  margin-right: 5px;
}

.footer .single-footer.f-about .payments {
  margin-top: 30px;
}

.footer .single-footer.f-about .payments img {
  width: 70%;
}

.footer .single-footer.f-about .social-title {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}

.footer .single-footer.f-about .social {
  margin-top: 30px;
}

.footer .single-footer.f-about .social li {
  display: inline-block;
  margin-right: 18px;
}

.footer .single-footer.f-about .social li:last-child {
  margin: 0;
}

.footer .single-footer.f-about .social li a {
  color: #fff;
  font-size: 16px;
}

.footer .single-footer.f-about .social li a:hover {
  color: #0069ff;
}

.footer .single-footer.f-about .copyright-text {
  color: #fff;
  font-size: 14px;
  margin-top: 30px;
}

.footer .single-footer.f-about .copyright-text span {
  display: block;
}

@media (max-width: 767px) {
  .footer .single-footer.f-about .copyright-text {
    margin-top: 20px;
  }
}

.footer .single-footer.f-about .copyright-text a {
  color: #fff;
  text-decoration: underline;
}

.footer .single-footer.f-link li {
  display: block;
  margin-bottom: 15px;
}

.footer .single-footer.f-link li:last-child {
  margin: 0;
}

.footer .single-footer.f-link li a {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

.footer .single-footer.f-link li a:hover {
  color: #0069ff;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
  .footer .single-footer.latest-news {
    padding-left: 30px;
  }
}

.footer .single-footer.latest-news .single-head {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 7px;
}

.footer .single-footer.latest-news .single-news {
  margin-bottom: 20px;
}

.footer .single-footer.latest-news .single-news:last-child {
  margin: 0;
}

.footer .single-footer.latest-news .single-news .date {
  display: block;
  margin-bottom: 10px;
}

.footer .single-footer.latest-news .single-news .date a {
  font-size: 12px;
  color: #fff;
}

.footer .single-footer.latest-news .single-news .date a:hover {
  color: #0069ff;
}

.footer .single-footer.latest-news .single-news .post-title {
  line-height: 22px;
}

.footer .single-footer.latest-news .single-news .post-title a {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.footer .single-footer.latest-news .single-news .post-title a:hover {
  color: #0069ff;
}

.footer .single-footer h3 {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 35px;
  color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .single-footer h3 {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .footer .single-footer h3 {
    margin-bottom: 25px;
  }
}

.footer .footer-bottom-area .inner-content {
  border-top: 1px solid rgba(238, 238, 238, 0.288);
  padding: 35px 0;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .footer .footer-bottom-area .inner-content {
    margin-top: 50px;
    text-align: center;
  }
}

.footer .footer-bottom-area p {
  color: #fff;
  font-size: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .footer .footer-bottom-area p {
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .footer .footer-bottom-area p {
    margin-bottom: 20px;
  }
}

.footer .footer-bottom-area p a {
  text-decoration: underline;
  color: #fff;
}

.footer .footer-bottom-area p a:hover {
  color: #0069ff;
}
